{% extends "templates/layout.twig" %}


{% block css %}

    <style>
        p, h4 {
            margin: 0 !important;
        }

        .listRoutes {
            gap: 10px;
        }

        .icons {
            font-size: 7pt;
        }

        .imgSingle {
            object-fit: cover;
            width: 100%;
        }

        .containerTextProduct {
            padding: 20px;
            gap: 20px;
        }

        .sizes, option {
            border: 2px solid;
            font-size: 15px;
            font-weight: bold;
            padding: 5px;
        }

        .linesProduct {
            border: 1px solid lightgrey;
            padding: 5px;
            font-size: 15px;
        }

        .line {
            border: 1px solid black;
            width: 100%;
        }

        .priceProduct {
            font-size: 18px!important;
            color: #808080 !important;
            font-weight: bold;
        }
        .totalPrice {
            text-decoration: line-through;
        }

        .valorationContainer{
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 15px;
        }
        .iconosContainer {
            gap: 10px;
        }
        .icono {
        color: #f3d300;
        }

        .checkboxStar  input[type='checkbox'] {
            display:none;
        }
        .checkboxStar   input[type='checkbox']+ label:before {
            font-family: 'Font Awesome 5 Free';
            content: "\f005";
            color: #f3d300;
            font-size:1.5rem;
            cursor:pointer;

        }
        .checkboxStar   input[type='checkbox']:checked + label:before {
            font-weight:600;
        }


        @media screen and (max-width: 600px) {
            .textValoration {
                font-size: 20px!important;
            }
            .listRoutes {
                gap: 5px!important;
                font-size: 12px!important;
            }
        }
    </style>
{% endblock %}

{% block content %}


    {% for product in productData %}
        <div class="d-flex flex-row pt-2 pl-5 listRoutes">
            <div><a href="/">Inicio</a></div>
            <div><i class="fa-solid fa-angle-right icons"></i></div>
            {% if product.categoria == 'camiseta_mujer'%}
                <div><a href="/women/shirts">Mujer</a></div>
                <div><i class="fa-solid fa-angle-right icons"></i></div>
                <div><a href="/women/shirts">Camisetas de Mujer</a></div>
            {% elseif product.categoria == 'pantalon_mujer' %}
                <div><a href="/women/pants">Mujer</a></div>
                <div><i class="fa-solid fa-angle-right icons"></i></div>
                <div><a href="/women/pants">Pantalones de Mujer</a></div>
            {% elseif product.categoria == 'zapatilla_mujer'%}
                <div><a href="/women/footwear">Mujer</a></div>
                <div><i class="fa-solid fa-angle-right icons"></i></div>
                <div><a href="/women/footwear">Zapatillas de Mujer</a></div>
            {% endif %}

            {% if product.categoria == 'camiseta_hombre'%}
                <div><a href="/men/shirts">Hombre</a></div>
                <div><i class="fa-solid fa-angle-right icons"></i></div>
                <div><a href="/men/shirts">Camisetas de Hombre</a></div>
            {% elseif product.categoria == 'pantalon_hombre' %}
                <div><a href="/men/pants">Hombre</a></div>
                <div><i class="fa-solid fa-angle-right icons"></i></div>
                <div><a href="/men/pants">Pantalones de Hombre</a></div>
            {% elseif product.categoria == 'zapatilla_hombre'%}
                <div><a href="/men/footwear">Hombre</a></div>
                <div><i class="fa-solid fa-angle-right icons"></i></div>
                <div><a href="/men/footwear">Zapatillas de Hombre</a></div>
            {% endif %}

            <div><i class="fa-solid fa-angle-right icons"></i></div>
            <div>{{ product.nombre }}</div>
        </div>

        <div class="container-fluid">
            <div class="row m-0 w-100 justify-content-center flex-column flex-lg-row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-3 mr-3 p-5 w-100">
                    <div id="carousel" class="carousel slide w-100" data-ride="carousel">
                        <div class="carousel-inner w-100">
                            <div class="carousel-item active">
                                <img class="imgSingle" src="{{ product.url }}" alt="img-1">
                            </div>
                            <div class="carousel-item">
                                <img class="imgSingle" src="{{ product.back_url }}" alt="img-2">
                            </div>
                            <div class="carousel-item">
                                <img class="imgSingle" src="{{ product.single_url }}" alt="img-3">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-2 d-flex align-items-center p-sm-3 p-lg-0 justify-content-center">
                    <div class="d-flex flex-column containerTextProduct">
                        <h4 class="titleProduct font-weight-bold">{{ product.nombre }}</h4>
                        {% if  product.precio > product.PRECIO_FINAL %}
                            <h5 class="priceProduct font-weight-bold text-sm-center text-lg-left text-center"><span class="totalPrice descProduct"> {{ product.precio }} €</span>
                                <span class="text-danger">{{ product.PRECIO_FINAL }} € <span class="bg-light p-2">-{{ product.descuento }}%</span></span>
                            </h5>
                        {% else %}
                            <h5 class="priceProduct font-weight-bold text-sm-center text-lg-left text-center">{{ product.precio }} €</h5>
                        {% endif %}
                        <select id="sizes" class="sizes">
                            <option value="" selected>Tallas disponibles</option>
                            <option value="xl">XL</option>
                            <option value="l">L</option>
                            <option value="m">M</option>
                            <option value="s">S</option>
                            <option value="xs">XS</option>
                        </select>
                        <a class="btn btn-lg font-weight-bold btn-dark" href="javascript:history.back()"><i class="fa-solid fa-angles-left"></i> Volver a comprar</a>
                        <div class="linesProduct">
                            <p class="font-weight-bold"><i class='fa fa-truck iconsCardProduct'></i> Envío gratis.</p>
                            <p class="font-weight-bold"><i class="fa-solid fa-money-bill-transfer iconsCardProduct"></i>
                                Devoluciones gratis.</p>
                            <p class="font-weight-bold"><i class="fa-solid fa-arrow-right-long iconsCardProduct"></i> Se
                                aplican términos y condiciones.</p>
                        </div>
                        <hr class="line"/>
                    </div>
                </div>
            </div>
        </div>
            <div class="row p-1 m-0 justify-content-center mb-4 w-100">
                {% if not valorations %}
                    <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                        <h3 class="font-weight-bold mb-4 textValoration">Todavía no hay valoraciones del producto!</h3>
                        <button type="button" class="btn btn-dark w-50" data-toggle="modal" data-target=".valoration" data-whatever="@valorations">Deja tu la primera...</button>
                        <div class="modal fade bd-example-modal-lg valoration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content p-3">
                                    <h4 class="font-weight-bold"> Escribe una valoración del producto! </h4>
                                    <form action="/registerValoration" method="post">
                                        <h5 class="pt-2"> Cuantas estrellas le pones? </h5>
                                        <div class="d-flex flex-row pb-2 checkboxStar">
                                            <input id="check1" type="checkbox" value="star" name="stars[]"/>
                                            <label for="check1"></label>
                                            <input id="check2" type="checkbox" value="star" name="stars[]"/>
                                            <label for="check2"></label>
                                            <input id="check3" type="checkbox" value="star" name="stars[]"/>
                                            <label for="check3"></label>
                                            <input id="check4" type="checkbox" value="star" name="stars[]"/>
                                            <label for="check4"></label>
                                            <input id="check5" type="checkbox" value="star" name="stars[]"/>
                                            <label for="check5"></label>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control font-weight-bold" id="valoration" name="valoration" minlength="1" maxlength="100"></textarea>
                                        </div>
                                        <input type="hidden" value="{{ product.id }}" name="id_producto" />
                                        <input type="hidden" value="/men/shirts/{{product.id}}?id={{ product.id }}&category={{product.categoria}}" name="url_product"/>
                                        <button type="submit" class="btn btn-dark">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                        {% for valoration in valorations %}
                            <div class="col-10 col-lg-3 valorationContainer" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title mb-4">Enviado por <span class="text-success">{{ valoration.usuario }}</span></h5>
                                    <div class="d-flex flex-row mb-4 iconosContainer">
                                        {% for i in range (1, valoration.estrellas) %}
                                            <i class="fas fa-star icono"></i>
                                        {% endfor %}
                                    </div>
                                    <p class="card-text">{{ valoration.descripcion }}</p>
                                </div>
                            </div>
                        {% endfor %}
                {% endif %}
    {% endfor %}

            </div>
{% endblock %}


{% block js %}
    <script>

    </script>
{% endblock %}